.fields1 {
    float:left;
	height: 60px;
}
.fields2 {
    float:left;
	height: 120px;
}
.vehicle_active {
    background-color: #7c7bad;
    border-radius: 0;
    color: white;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:15px;
}


    div#odometro div#centro {
        z-index:        101; 
        overflow:       hidden; 
        position:       absolute; 
        width:          220px; 
        height:         165px;

        bottom:         0px; 
        left:           100px; 
    }





/* ####################################### */
/* ######      DESKTOP GRANDE       ###### */
/* ####################################### */
@media (min-width:1200px)
{
    div#odometro div#centro {
        z-index:        101; 
        overflow:       hidden; 
        position:       absolute; 
        width:          220px; 
        height:         165px;

        bottom:         0px; 
        left:           100px; 
    }
}


/* ####################################### */
/* ######      DESKTOP MEDIO        ###### */
/* ####################################### */
@media (max-width:1199px) and (min-width:992px)
{
    div#odometro div#centro {
        z-index:        101; 
        overflow:       hidden; 
        position:       absolute; 
        width:          220px; 
        height:         165px;

        bottom:         0px; 
        left:           100px; 
    }

}


/* ####################################### */
/* ######         TABLETS           ###### */
/* ####################################### */
@media (max-width:991px) and (min-width:768px)
{
    div#odometro div#centro {
        z-index:        101; 
        overflow:       hidden; 
        position:       absolute; 
        width:          220px; 
        height:         165px;

        bottom:         0px; 
        left:           100px; 
    }
}



/* ####################################### */
/* ######         MOVILES           ###### */
/* ####################################### */
@media (max-width:767px)
{
    div#odometro div#gsm {
        display:        none;
    }
    div#odometro div#centro {
        z-index:        101; 
        overflow:       hidden; 
        position:       absolute; 
        width:          220px; 
        height:         165px;

        bottom:         0px; 
        left:           100px; 
    }
}







